.basketItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basketItem__info {
  padding-left: 20px;
}

.basketItem__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 3px 6px 3px 6px;
}

.basketItem__info > button:hover {
  background-color: #d5ab43;
}

.basketItem__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.basketItem__title {
  font-size: 17px;
  font-weight: 700;
}

.basketItem__priceAndQuantityDiv {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 5px;
}

.basketItem__quantity {
  width: 60px;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  background-color: linen;
  border-color: lightslategray;
}

.basketItem__rating {
  display: flex;
}
